PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/nxus
JWT_SECRET=your_jwt_secret_here

# Admin 2-Step Verification Passwords
ADMIN_STEP1_PASSWORD=admin_pass_one
ADMIN_STEP2_PASSWORD=admin_pass_two

# Superadmin 2-Step Verification Passwords
SUPERADMIN_STEP1_PASSWORD=super_pass_one
SUPERADMIN_STEP2_PASSWORD=super_pass_two

# SMTP Nodemailer Settings for User OTP Verification
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
